.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #272838;
  background-color: #F3DE8A;
  flex: 1;
  outline: 1px solid #272838;
  font-size: 1.4em;
}

.operator {
  color: #272838;
  background-color: #EB9486;
  font-size: 1.4em;
}