body {
  background-color: #F8F7F9;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  text-align: center;
  color: #2B2D42;
}

#mid_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 200px;
  height: 200px;
}

/* .btn not currently being used */
/* .btn {
  margin: 2px;
  background-color: #2B2D42;
  padding: 7px;
  color: white;
  border: none;
  width: 10%;
  transition-duration: 0.2s;
} */

.btn:hover {
  background-color: #92DCE5;
}

.links {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
a {
  width: 10%;
  margin: 2px;
  padding: 5px;
  background-color: #2B2D42;
  text-decoration: none;
  color: white;
  transition-duration: 0.2s;
}

a:hover {
  background-color: #92DCE5;
}
